/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body, html {
  height: 100%;
}

/* Custom styles */

:root {
  font-size: 16px;
}

.bgimg {
  background-image: url("../images/fwwu-forest2.jpg");
  height: 100%;
  background-position: center;
  background-size: cover;
  color: white;
  font-family: "Courier New", Courier, monospace;
}

/* ==== Upper Left Styles ==== */

.topleft {
  position: absolute;
  top: 0;
  left: 16px;
  font-size: 3rem;
  margin-top: 12px;
  opacity: 0.8;
  text-shadow: 1px 0 8px 0 rgba(150, 150, 150, 0.7);
}

/* ==== Upper Right Styles ==== */

.topright {
  position: absolute;
  top: 0;
  right: 16px;
  margin-top: 12px;
  border-radius: 4px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.23), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.topright:hover {
  right: 15px;
  margin-top: 13px;
  border-radius: 4px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#button {
  width: auto;
  text-align: center;
  display: block;
  background: #94a093;
  font-size: 1.8rem;
  padding: 3px 7px 4px 9px;
  border-radius: 4px;
  opacity: 0.8;
  cursor: pointer;
}

/* === Lower left Styles === */

.bottomleft {
  position: absolute;
  bottom: 0;
  left: 16px;
  margin-bottom: 4px;
  font-size: 1rem;
  color: #808080;
  opacity: 0.9;
  text-shadow: 1px 0 8px 0 rgba(150, 150, 150, 0.7);
}

/* ==== Middle Section Styles ==== */

#middle {
  position: absolute;
  top: 27%;
  left: 37%;
  text-align: center;
  opacity: 0.8;
  text-shadow: 1px 0 8px 0 rgba(150, 150, 150, 0.7);
}

#middle.open {
  display: none;
}

#middle h2 {
  font-size: 2.2rem;
  margin-bottom: 5px;
}

#middle p {
  font-size: 1.5rem;
  margin-top: 7px;
  margin-left: 5px;
}

#middle hr {
  margin: auto;
  width: 50%;
}

#content {
  position: absolute;
  top: 16%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(106, 117, 106, 0.2);
  max-height: 0;
  overflow: hidden;
  opacity: 1;
  min-width: 600px;
  text-align: justify;
  border-radius: 4px;
  overflow-y: scroll;
}

#content.open {
  max-height: 46%;
  -webkit-transition: max-height 0.5s;
  -moz-transition: max-height 0.5s;
  -o-transition: max-height 0.5s;
  transition: max-height 0.5s;
}

#content p {
  margin-bottom: 5px;
  padding: 7px;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
  line-height: 1.3rem;
  text-shadow: 1px 0 8px 0 rgba(150, 150, 150, 0.7);
}

/* ==== Lower Right Styles / social-media-icons ==== */

.bottomright {
  position: absolute;
  bottom: 0;
  right: 16px;
}

.social-media-icons ul {
  display: flex;
  margin-bottom: 8px;
}

.social-media-icons ul li {
  list-style: none;
}

.social-media-icons ul li a {
  opacity: 0.8;
  text-align: center;
  line-height: 20px;
  font-size: 3em;
  margin: 0 30px;
  display: block;
  overflow: hidden;
}

.social-media-icons ul li a:last-child {
  margin-right: 0;
}

ul li a .fa {
  position: relative;
  color: #808080;
  transition: 0.5s;
}

ul li a:hover .fa {
  transform: rotateY(360deg);
}

/* === Media Queries landscape === */

/* Medium screens (iPad, 13" laptop) */

@media only screen and (max-width: 1024px) and (orientation: landscape) {
  #middle {
    left: 36%;
  }

  #content {
    top: 17%;
    min-width: 400px;
  }
}

/* 7" tablets */

@media only screen and (max-width: 960px) and (orientation: landscape) {
  #content {
    top: 20%;
  }
}

/* Mobile screens (iPhone 6 + similar, phablets) */

@media only screen and (max-width: 740px) and (orientation: landscape) {
  .topleft {
    font-size: 2rem;
  }

  #middle {
    top: 26%;
  }

  #middle h2 {
    font-size: 1.5rem;
    margin-bottom: 6px;
  }

  #middle p {
    font-size: 1.1rem;
    margin-top: 7px;
  }

  .social-media-icons ul li a {
    font-size: 2.6em;
  }

  #content {
    top: 27%;
    left: 16px;
    right: 16px;
    transform: none;
  }

  #content.open {
    max-height: 54%;
  }

  #content p {
    margin-bottom: 3px;
    font-size: 1rem;
    letter-spacing: 0.1px;
    line-height: 1rem;
  }

  .bottomleft {
    font-size: 0.8rem;
  }
}

/* Small mobile screens (iPhone 5/SE and 4" screens) */

@media only screen and (max-width: 568px) and (orientation: landscape) {
  .topleft {
    font-size: 1.6rem;
  }

  #middle h2 {
    font-size: 1.2rem;
    margin-bottom: 6px;
  }

  #middle p {
    font-size: 0.9rem;
    margin-top: 7px;
  }

  .social-media-icons ul li a {
    font-size: 2.4em;
    margin: 0 25px;
  }

  .bottomleft {
    font-size: 0.6rem;
  }

  #button {
    font-size: 1.7rem;
  }

  #content p {
    font-size: 0.9rem;
  }
}

/* === Media Queries Portrait === */

/* Medium screens (iPad + mini + pro split-screen) */

@media only screen and (max-width: 768px) and (orientation: portrait) {
  .bgimg {
    background-image: url("../images/fwwu-forestalbumcover2.jpg");
  }

  .topleft {
    font-size: 2.3rem;
  }

  #middle {
    top: 27%;
    left: 50%;
    transform: translateX(-50%);
  }

  #middle h2 {
    font-size: 2rem;
    margin-bottom: 6px;
  }

  #middle p {
    font-size: 1.4rem;
    margin-top: 7px;
  }

  #content {
    top: 13%;
    left: 16px;
    right: 16px;
    min-width: 400px;
    transform: none;
  }

  .bottomleft {
    font-size: 0.9rem;
  }
}

/* Mobile icons */

@media only screen and (max-width: 550px) and (orientation: portrait) { /* (breekpunt icons) */

  .bottomright {
    position: absolute;
    bottom: 0;
    right: 10px;
  }

  .social-media-icons ul {
    display: block;
    margin-bottom: 8px;
  }

  .social-media-icons ul li a {
    margin: 7px 0;
  }

  #content {
    right: 22%;
  }
}

/* Mobile screens (iPhone 6 + similar, phablets) */

@media only screen and (max-width: 480px) and (orientation: portrait) {
  #middle {
    top: 29%;
    left: 50%;
    transform: translateX(-50%);
  }

  #middle h2 {
    font-size: 1.8rem;
    margin-bottom: 6px;
  }

  #middle p {
    font-size: 1.3rem;
    margin-top: 7px;
  }

  #content {
    top: 18%;
    min-width: 200px;
    text-align: left;
  }

  #content.open {
    max-height: 77%;
  }
}

/* Small mobile screens (iPhone 5/SE and 4" screens) */

@media only screen and (max-width: 320px) and (orientation: portrait) {
  .social-media-icons ul li a {
    font-size: 2.5em;
  }

  .topleft {
    font-size: 2rem;
    left: 12px;
  }

  #middle {
    top: 29%;
    left: 50%;
    transform: translateX(-50%);
  }

  #middle h2 {
    margin-bottom: 6px;
    font-size: 1.4rem;
  }

  #middle p {
    margin-top: 8px;
    font-size: 1rem;
  }

  .bottomleft {
    font-size: 0.7rem;
  }

  #content p {
    font-size: 1rem;
  }
}

/* Opacity on high resolution screens */

@media only screen and (-webkit-min-device-pixel-ratio: 1.3),
  only screen and (-o-min-device-pixel-ratio: 13/10),
  only screen and (min-resolution: 120dpi) {
  .topleft {
    opacity: 0.6;
  }

  #button {
    opacity: 0.5;
  }

  .bottomleft {
    opacity: 0.7;
  }

  #middle {
    opacity: 0.6;
  }

  #content {
    opacity: 0.8;
  }

  .social-media-icons ul li a {
    opacity: 0.5;
  }
}

/* preventing iPhones from inappropriate font size adjustment in landscape mode */

@media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
  body { -webkit-text-size-adjust: none; }
}
